<form>
  <div class="form-group">
    <input id="input1" class="form-control form-control-lg" name="firstNumber" type="number" placeholder="first number" #newItem1>
    <button (click)="addNumber(newItem1.value)" class="btn btn-primary">ENTER</button>
  </div>

  <div class="form-group">
      <input id="input2" class="form-control form-control-lg" name="secondNumber" type="number" placeholder="second number" #newItem2>
      <button (click)="addNumber(newItem2.value)" class="btn btn-primary">ENTER</button>
  </div>

