<div id="buttons">
    <button (click)="addNewItem(plus.value)" type="button" id="operations" class="btn btn-primary" value="+" #plus>+</button>
    <button (click)="addNewItem(minus.value)" type="button" id="operations"class="btn btn-primary" value="-" #minus>-</button>
    <button (click)="addNewItem(multiply.value)" type="button" id="operations"class="btn btn-primary" value="x"#multiply>x</button>
    <button (click)="addNewItem(divide.value)" type="button" id="operations"class="btn btn-primary" value="/" #divide>/</button>

</div>