div.card{
    width: 30%;
    margin: 5% 0% 5% 36%;
    background-color: rgb(34, 33, 33);
    padding: 25px;
}

h2#title{
    margin-top: 50px;
    justify-content: center;
    display: flex;
}


a{
    margin-top: 10px;
    justify-content: center;
    display: flex;   
}

